html, body {
  padding: 0;
  margin: 0;
}
.container {
  padding: 60px 10px;
  max-width: 860px;
  margin: 0 auto;
}
.patterns span {
  position: relative;
  font: normal 300 14px/1.6 "Helvetica Neue", "Helvetica", sans-serif;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: rgba(255,255,255,0.98);
  transition: all .2s;
  z-index: 1;
}
.patterns span:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  z-index: 3;
}
